.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  .serach_input {
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
  }
  .user-msg-profile {
    border: 1px solid gainsboro;
    padding: 1rem;

    &:hover {
      background-color: gainsboro;
      cursor: pointer;
    }
  }
}
