* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    background: #c6d4e1;
  }

  button.disabled {
    color: white;
    cursor: not-allowed;
    background-color: #8a8282;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid gainsboro;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      background-color: beige;
    }

    input {
      padding: 10px 20px;
      font-size: 1.2rem;
      border-radius: 5px;
      outline: none;
    }

    .form-warning {
      font-size: 0.9rem;
      color: red;
      text-align: start;
    }

    .center {
      text-align: center;
      font-weight: bold;
    }

    .form-submitting {
      pointer-events: none;
    }
  }

  p {
    font-size: 1.1rem;
    a {
      text-decoration: none;
      color: blue;
      cursor: pointer;
    }
  }
}
